{% extends 'base.html' %}
{% load bootstrap %}
{% block main %}
{% load static from staticfiles %}

    <div class=""control-group"">
        <legend>Seja bem vindo ao Sistema de Avaliação 360</legend>
        <div align="center">
            <img alt="img360" src="{% static "bootstrap/img/img.png" %}"  >
        </div>
        <form method="POST" action="." class="form-group">
               {% csrf_token %}
               {{form|bootstrap}}
               <input type="submit" class="btn btn-primary"/>
         <!--   Removido pois apenas o admin pode cadastra
            <a type="button"  href="register" class="btn btn-success">Register</a> 
          -->
         </form>
         <h4>Projeto TCC da PUC Minas Virtual</h4>
         <h4>Kennedi Paulo S. Malheiros</h4>
    </div>
{% endblock %}